@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: Gilroy-Bold;
        src: url(/assets/fonts/gilroy-bold/gilroy-bold-cufonfonts-webfont/Gilroy-Bold.woff)
            format("woff");
    }
    @font-face {
        font-family: Gilroy-Medium;
        src: url(/assets/fonts/gilroy-bold/gilroy-bold-cufonfonts-webfont/Gilroy-Medium.woff)
            format("woff");
    }
}

.-mb-186 {
    margin-bottom: -186px;
}

.font--gilroy-md {
    font-family: Gilroy-Medium;
}

.bg--dark {
    background-color: #1a1a1a;
}

.box--dark {
    background-color: #1a1a1a;
    box-shadow: -5px -5px 5px 5px rgba(255, 255, 255, 0.02),
        5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.input--custome {
    @apply w-full px-10 py-3 appearance-none block text-white placeholder-white rounded-xl focus:outline-none;
}
