@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: Gilroy-Bold;
        src: url(/assets/fonts/gilroy-bold/gilroy-bold-cufonfonts-webfont/Gilroy-Bold.woff)
            format("woff");
    }
    @font-face {
        font-family: Gilroy-Medium;
        src: url(/assets/fonts/gilroy-bold/gilroy-bold-cufonfonts-webfont/Gilroy-Medium.woff)
            format("woff");
    }
    @font-face {
        font-family: Gilroy-Regular;
        src: url(/assets/fonts/gilroy-bold/gilroy-bold-cufonfonts-webfont/Gilroy-Regular.woff)
            format("woff");
    }
    @font-face {
        font-family: League-Spartan;
        src: url(/assets/fonts/league-spartan/LeagueSpartan-Bold.otf)
            format("woff");
    }
}

@variants focus, hover {
    .bg--dark-grey {
        background: #292929;
    }
}

.-mb-186 {
    margin-bottom: -186px;
}

.font--gilroy-md {
    font-family: Gilroy-Medium;
}

.font--gilroy-bold {
    font-family: Gilroy-Bold;
}

.font--gilroy-reg {
    font-family: Gilroy-Regular;
}

.bg--dark {
    background-color: #1a1a1a;
}

.hr--grey {
    border-top: 1px #c4c4c4 solid;
}

.text--grey-light {
    color: #666666;
}

.bg--dark-grey {
    background: #292929;
}

.box--dark {
    background-color: #1a1a1a;
    box-shadow: -5px -5px 5px 5px rgba(255, 255, 255, 0.02),
        5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.input--custome {
    @apply w-full px-10 py-3 appearance-none block text-white placeholder-white rounded-xl focus:outline-none;
}

.stroke--text-dark {
    @apply text-transparent;
    font-family: League-Spartan;
    font-size: 190px;
    font-weight: 600;
    -webkit-text-stroke: 2px rgba(160, 160, 160, 0.3);
}

.stroke--text-white {
    @apply text-transparent;
    font-family: League-Spartan;
    font-size: 190px;
    font-weight: 600;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.7);
}

.bg--footer {
    background-image: linear-gradient(to bottom right, #3e3e3e, #0d0d0d);
}

.font--size--19 {
    font-size: 19px;
}

.hr--vertical {
    border: none;
    border-left: 1px solid #fff;
    opacity: 17%;
    height: 100%;
    width: 2px;
}
