@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: Gilroy-Bold;
        src: url(/assets/fonts/gilroy-bold/gilroy-bold-cufonfonts-webfont/Gilroy-Bold.woff)
            format("woff");
    }
    @font-face {
        font-family: Gilroy-Medium;
        src: url(/assets/fonts/gilroy-bold/gilroy-bold-cufonfonts-webfont/Gilroy-Medium.woff)
            format("woff");
    }
}
